HF_TOKEN="hf_api_token"
HF_REPO_ID="8Opt"

KAGGLE_API_KEY=""


GEMINI_API_KEY="gemini_api_key"
GEMINI_URL="https://generativelanguage.googleapis.com/v1beta/openai/"
GEMINI_MODEL_NAME="gemini-2.5-flash"
EMAIL="email@gmail.com"


WANDB_API_KEY="wandb_api_key"