[submodule "dcase2026_task6_baseline"]
	path = dcase2026_task6_baseline
	url = https://github.com/awkrail/dcase2026_task6_baseline.git
[submodule "DCASE2026_Task3_SAISELD_baseline"]
	path = DCASE2026_Task3_SAISELD_baseline
	url = https://github.com/iranroman/DCASE2026_Task3_SAISELD_baseline.git
